<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>
	
	<context:component-scan base-package="com.signhor.cms.controller" />
	<!-- 拦截器权限配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<bean class="com.signhor.cms.web.AuthInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 返回JSON模版 -->   
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >    
    	<property name="messageConverters">    
    		<list>  
         		<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />  
    		</list>   
    	</property>    
	</bean>  
	<!-- 配置SpringMVC的视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	 
	
</beans>
